@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 12%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 12%;

    --primary: 0 0% 12%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 94%;
    --secondary-foreground: 0 0% 12%;

    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 94%;
    --accent-foreground: 0 0% 12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 0 0% 12%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 26%;
    --sidebar-primary: 0 0% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 95%;
    --sidebar-accent-foreground: 0 0% 10%;
    --sidebar-border: 0 0% 91%;
    --sidebar-ring: 0 0% 59%;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 98%;

    --card: 0 0% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 12%;

    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 65%;

    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 0 0% 83%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 0 0% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 16%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 0 0% 16%;
    --sidebar-ring: 0 0% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
